* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 098%;
	background: #fff;
	color: #333;
	font-family: 'Lucinda Grande', Monaco, sans-serif;
	font-size: 16px;
}
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
a {
	color: #3B5998;
	text-decoration: none;
}
a:hover, a:focus, a:active {
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	cursor: pointer;
} 
strong {
	font-weight: bold;
}
h2 {
	margin: 8 auto;
}
h3 {
	margin: 0 auto 8px;
	color: #3B5998;
}

#site {
	width: 960px;
	min-height: 100%;
	margin: 0 auto;
	line-height: 1.4em;
}
#header {
	height: 50px;
	line-height: 50px;
	margin: 20px auto;
	text-align: center;
}
#header h1 {
	font-size: 48px;
}
#main {
	margin: 10px auto;
}
.push {
	overflow: auto;
	padding-bottom: 20px;
}
#footer {
	position: relative;
	margin: -20px auto 0;
	height: 20px;
	clear: both;
	width: 960px;
	text-align: center;
	font-size: 13px;
}

ul.nav {
	list-style: none;
}
ul.nav li {
  display: inline;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
ul.nav li a {
  padding: 20px 20px;
  text-decoration: none;
  display: block;
	font-weight: bold;
	font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project {
	padding: 12px;
	border-radius: 4px;
}
.project:hover, .project:focus, .project:active {
	background: #eee;
	cursor: pointer;
}
.project a {
	display: block;
	color: #333;
}
