body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;  
}
.person {
  float: left;
  width: 100px;
  overflow: hidden;
  margin: 10px;
  text-align: center;
}
.name {
  color: #3B5998;
  font-size: 11px;
  margin: 2px auto;
  height: 40px;
  overflow: hidden;
}
.pic {
  height: 50px;
  overflow: hidden;
  margin: 2px auto;
}
.pic img {
  width: 50px;
}
.vote {
  text-align: left;
  font-size: 11px;
  padding-left: 22px;
}
#flash { font-size: 0.9em; width: 500px; z-index: 1000; background-color: #3B5998; color: white; border-bottom: 1px solid #000; }
#flash, #flash * { cursor: pointer; }
#flash .yui-b { padding: 3px; text-align: center; }